body > div {
    display: flex;
    gap: 0.5%;
    justify-content: center;
    flex-wrap: wrap;
}

#map {
    max-width: 60vw;
    max-height: 97vh;
    object-fit: contain;
}

div > div {
    flex: 1 1 10%;
    max-width: 40rem;
}
